body {
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  width: 920px;
  background:#EEEEEE;
  color:#000000;
}


a {
  color: #297F95;
  text-decoration:none;
}

a img {
  border: 0px;
}

a:hover {
  text-decoration:underline;
}

a:visited {
  color: #1C5867;
}


.main {
  padding:10px;
  background:#FFFFFF;
}

.bar {
  margin:0px;
  margin-top:5px;
  margin-left:-10px;
  margin-right:-10px;
  height: 5px;
  background:#EEEEEE;
}

.menu {
  margin-left:-10px;
  margin-right:-10px;
  padding-left: 10px;
  background:#333333;  
  padding-top: 3px;
  padding-bottom: 3px;
}

.menuitem {
  margin-right: 10px;
}

.menu a {
  color: #DDDDDD;
  text-decoration:none;
}

.menu a:hover {
  text-decoration:none;
  background:#EEEEEE;
  color:#000000;
}

.thumbnail {
  float: left; 
  width: 210px;
  height: 210px;
  line-height: 120px; 
  font-size: 2px; 
  text-align: center; 
  vertical-align: middle;
  background: #EEEEEE; 
  margin: 0 0 15px 15px; 
}

.thumbnail img {
  vertical-align: middle;
}
.thumbnail span { 
  display: inline-block; 
  vertical-align: middle; 
  height: 200px; 
  visibility: hidden;
}

.thumbnail a {
  display: block;
  height: 210px;
}

.thumbnail a:hover {
    background-color:#DDDDDD;
}
